---
title: Projecten
layout: page
order: 20
---

<div class="container--full">

  {% assign items = site.projecten | sort: 'order' %}
  {% for item in items %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  <div class="container" id="{{ item.category | slugify }}">
    <div class="row">
      <div class="col-md-6 {% if thecycle == 'even' %}push-md-6{% endif %}">
        <h2>{{ item.title }}</h2>
        <h5>{{ item.category }}</h5>
      </div>
      <div class="col-md-6 {% if thecycle == 'even' %}pull-md-6{% endif %}">

        <div class="embed-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ item.youtube_id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {{ item.description }}

      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row">

  <div class="col-md-3 {% if thecycle == 'even' %} offset-md-1{% endif %} {% if thecycle == 'odd' %} push-md-8{% endif %}">
    <h2>{{ item.title}}</h2>

    <!-- <div class="alloy-large-counter">
    <span>Step</span>
    <span class="counter">#{{ counter }}</span>
    {% assign counter=counter | plus:1 %}
  </div> -->

</div>

<div class="col-md-7 {% if thecycle == 'odd' %} pull-md-3 offset-md-1{% endif %}">
  <p>{{ item.description }}</p>
</div>

</div>
