---
Title: Curriculum vitae
layout: cv
---

<section id="author">
  <img
    src="assets/images/{{ site.author | slugify }}.jpg"
    alt="{{ site.title }}"
  />
</section>
<section id="info" class="list">
  <h1><span>Sophie</span> <span>van Os</span></h1>
  <br />
  <!-- <h2>{{ site.description }}</h2> -->
  <div class="items">
    <div class="item">
      Sophie Jeanne Pauline van Os
      <br />
      {{ site.age }}
      <br />
      {{ site.location }}
    </div>
    <br />
    <div class="item">
      <a href="tel:{{ site.phone | replace: ' ', '' }}">{{ site.phone }}</a>
      <br />
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      <!-- <br /> -->
      <!-- <a href="{{ site.url }}">{{ site.url }}</a> -->
    </div>
  </div>
</section>
<section id="interactive">
  <a href="mailto:{{ site.email }}" class="btn btn--base">
    <svg>
      <rect
        x="11"
        y="12"
        rx="23"
        ry="35"
        fill="none"
        width="226"
        height="46"
      ></rect>
    </svg>
    E-mail mij</a
  >
  <a href="javascript:window.print()" class="btn btn--sub">
    <svg>
      <rect
        x="11"
        y="12"
        rx="23"
        ry="35"
        fill="none"
        width="226"
        height="46"
      ></rect>
    </svg>
    Print mijn CV</a
  >
</section>
<section id="intern" class="list">
  <h2>Werkervaring</h2>
  <div class="items">
    {% assign items = site.data.werkervaring | sort: 'start' %} {% for item in
    items reversed %} {% include cv-item-structure.html%} {% endfor %}
  </div>
</section>
<section id="work" class="list">
  <h2>Projecten</h2>
  <div class="items">
    {% assign items = site.data.projecten | sort: 'start' %} {% for item in
    items reversed %} {% include cv-item-structure.html%} {% endfor %}
  </div>
</section>

<section id="opleidingen" class="list">
  <h2>Opleidingen</h2>
  <div class="items">
    {% assign items = site.data.opleidingen | sort: 'start' %} {% for item in
    items reversed %} {% include cv-item-structure.html%} {% endfor %}
  </div>
</section>

<section id="cursussen" class="list">
  <h2>Cursussen</h2>
  <div class="items">
    {% assign items = site.data.cursussen | sort: 'start' %} {% for item in
    items reversed %} {% include cv-item-structure.html%} {% endfor %}
  </div>
</section>
