<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body id="{% if page.title %}{{ page.title | slugify }}{% else %}layout-{{ page.layout | slugify }}{% endif %}">
    {% include isometric-shape.svg %}
    <div id="alloy-shaps--body">
      <div class="alloy-parallax-shapes inner__large"></div>
      <div class="alloy-parallax-shapes inner__medium"></div>
      <div class="alloy-parallax-shapes inner__small"></div>
      <div class="alloy-parallax-shapes inner__tiny"></div>
    </div>
    {% include header.html %}

    <main class="page-content" aria-label="Content">

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
